# Dependency directories
node_modules/

# Environment variables
.env

# Build output
dist/

# Logs
logs
*.log
npm-debug.log*

# Coverage directory used by tools like istanbul
coverage

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# IDE files
.idea/
.vscode/
*.swp
*.swo 